<div class="container">

    <h3>Login</h3>
    <br/>

    <form id="login-form">

        <div class="form-group label-static is-empty">
             <label for="email" class="control-label">Email Address</label>
             <input id="email" name="email" class="form-control" type="text" placeholder="Enter your email"/>
        </div>

        <div class="form-group label-static is-empty">
             <label for="psword" class="control-label">Password</label>
             <input id="psword" name="psword" class="form-control" type="password" placeholder="Enter your password"/>
        </div>
        <br/>
        <div>
               <button style="font-size:100%" type="submit" name="submit" class="btn btn-info waves-effect " >LOGIN<</button>

        </div>

    </form>
</div>